AZURE_OPENAI_API_KEY="add key here"
AZURE_OPENAI_ENDPOINT=https://logicera-ai-llms.openai.azure.com/
OPENAI_API_VERSION=2024-12-01-preview

DB_CONNECTION_STRING=Driver={ODBC Driver 18 for SQL Server};Server=localhost\SQLEXPRESS;Database=MyShop;Trusted_Connection=yes;TrustServerCertificate=yes;
DOCS_DIR=./documents
CHROMA_DIR=./chroma_index
WATCH_INTERVAL_SECONDS=5
EMBEDDING_MODEL=text-embedding-3-small
CHAT_MODEL=gpt-5-chat
CHUNK_SIZE=800
CHUNK_OVERLAP=200
